<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="localhost_AracKiralama_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-N3HLVSQ;integrated security=SSPI;initial catalog=AracKiralama" />
        <add name="localhost_AracKiralama_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-N3HLVSQ;integrated security=SSPI;initial catalog=AracKiralama" />
        <add name="Anaform.Properties.Settings.AracKiralamaConnectionString"
            connectionString="Data Source=DESKTOP-M2E5NSL\SQLEXPRESS;Initial Catalog=AracKiralama;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>